<h2>Add collaborators to <%= @wiki.title %>:</h2>
<p>There will be stuff here.</p>

<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Add Collaborator</th>
  </tr>
  </thead>
  <tbody>
  <div class="field">
    <% @user.each do |user| %>
        <div class="form-group">
          <tr>
            <td><%= user.email %></td>
            <td><%= button_to "Add Collaborator", wiki_collaborators_path(@wiki.id), params: { user_id: user.id } %></td>
          </tr>
        </div>
        </div>
    <% end %>
    </tbody>
</table>
